<head>
  <meta charset="UTF-8">
  <title>BUSE Bot</title>
  <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image" sizes="16x16">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Dark.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  
</head>

<body>

  <section class="msger">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#" style="color: white;">
        <i class="fas fa-graduation-cap"></i> <b> &nbsp; BUSE BOT &emsp; </b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModalScrollable" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Suggestion box</a>
          </li>
        </ul>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">About Us</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Welcome to BUSE Bot, your virtual assistant for all things Bindura University of Science Education (BUSE)!</p>
              <p>We're a team of innovators dedicated to providing you with quick and accurate information about BUSE.</p>
              <p>Our bot is designed to assist prospective students, current students, and alumni with their queries, providing answers to frequently asked questions, campus updates, and more.</p>
              <p>We're constantly improving and expanding our knowledge base to ensure you have the best possible experience.</p>
              <p>Chat with us today and discover how BUSE Bot can help you!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for Suggestion Box -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suggestion Box</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="suggestion">Share your suggestion or feedback:</label>
            <textarea class="form-control" id="suggestion" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
      </nav>

    <main class="msger-chat" style="color: white;">
      <div class="chat-area">
        <div id="chat-messages"></div>
      </div>

      <div class="row">
        <div class="col-lg-9">
          <div class="input-wrapper">
            <input class="form-control" type="text" name="question" id="question" placeholder="ASK ME ANYTHING ABOUT BUSE">
            <button id="submit-button"><i class="fas fa-paper-plane"></i> Send</button>
          </div>
      </div>
    </main>

  </section>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="/static/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <script>
    jQuery(document).ready(function () {
      $("#submit-button").click(function (e) {
        e.preventDefault();
        var question = $("#question").val().trim();
        if (question === "") {
          return;
        }
        appendUserQuestion(question);
        $("#question").val("");

        $.ajax({
          type: "POST",
          url: "/chatbot",
          data: {
            question: question
          },
          success: function (result) {
            appendBotResponse(result.response);
          },
          error: function (result) {
            alert('error');
          }
        });
      });

      function appendUserQuestion(question) {
        var chatMessages = $("#chat-messages");
        var userBubble = '<div class="msg right-msg">' +
          '<div class="msg-bubble">' +
          '<div class="msg-info">' +
          '<div class="msg-info-name"><b>You</b> <i class="fas fa-user"></i></div>' +
          '</div>' +
          '<div class="msg-text">' + question + '</div>' +
          '</div>' +
          '</div>';

        chatMessages.append(userBubble);
      }

      function appendBotResponse(response) {
        var chatMessages = $("#chat-messages");
        var botBubble = '<div class="msg left-msg">' +
          '<div class="msg-bubble">' +
          '<div class="msg-info">' +
          '<div class="msg-info-name"><b>BUSE Bot</b> <i class="fas fa-robot"></i></div>' +
          '</div>' +
          '<div class="msg-text">' + response + '</div>' +
          '</div>' +
          '</div>';

        chatMessages.append(botBubble);
      }
    });
  </script>
</body>

</html>